<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GnjFarma - Finalizar la compra</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/cart.css">
    </head>
    <body>
        <header>
        </header>
        <main>
            <section>
                <div class="main-container">
                    <div class="container">
                        <div class="product">
                            <table class="product-table">
                                <tr>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Subtotal</th>
                                </tr>
                                <tr>
                                    <td>Eliminar</td>
                                    <td>Imagen</td>
                                    <td>Nombre del producto</td>
                                    <td>$xxx,xx</td>
                                    <td>- 1 +</td>
                                    <td>$xxx,xx</td>
                                </tr>
                                <tr>
                                    <td>Eliminar</td>
                                    <td>Imagen</td>
                                    <td>Nombre del producto</td>
                                    <td>$xxx,xx</td>
                                    <td>- 1 +</td>
                                    <td>$xxx,xx</td>
                                </tr>
                                <tr>
                                    <td>Eliminar</td>
                                    <td>Imagen</td>
                                    <td>Nombre del producto</td>
                                    <td>$xxx,xx</td>
                                    <td>- 1 +</td>
                                    <td>$xxx,xx</td>
                                </tr>
                            </table>
                        </div>
                        <div class="cart-resume">
                            <h3>Resumen de compra</h3>
                        </div>
                        <div class="keepbuying">Seguir comprando</div>
                        <div class="empty-cart">Vaciar bolsa</div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>