<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GnjFarma - Finalizar la compra</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/cart.css">
    </head>
    <body>
        <header>
        </header>
        <main>
            <section>
                <div class="main-container">
                    <div class="container">
                        <div class="product">
                            <table class="product-table">
                                <tr>
                                    <th>Producto</th>
                                    <th></th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Subtotal</th>
                                </tr>
                                <tr>
                                    <td>Imagen</td>
                                    <td>Nombre del producto</td>
                                    <td>$xxx,xx</td>
                                    <td>- 1 +</td>
                                    <td>$xxx,xx</td>
                                    <td>Eliminar</td>
                                </tr>
                                <tr>
                                    <td>Imagen</td>
                                    <td>Nombre del producto</td>
                                    <td>$xxx,xx</td>
                                    <td>- 1 +</td>
                                    <td>$xxx,xx</td>
                                    <td>Eliminar</td>
                                </tr>
                                <tr>
                                    <td>Imagen</td>
                                    <td>Nombre del producto</td>
                                    <td>$xxx,xx</td>
                                    <td>- 1 +</td>
                                    <td>$xxx,xx</td>
                                    <td>Eliminar</td>
                                </tr>
                            </table>
                            <div class="keepbuying">
                                <a href="" class="link-keepbuying">Seguir Comprando</a>
                            </div>
                            <div class="empty-cart">
                                <a href="" class="link-empty-cart">Vaciar carro</a>
                            </div>
                        </div>
                        <div class="cart-resume">
                            <h3>Resumen de compra</h3>
                            <div class="promo-code">
                                <input class="input-promo-code" type="text" name="coupon-code" placeholder="Agregar cupón de descuento">
                                <i class="fas fa-tag"></i>
                            </div>
                            <div class="row">
                                <div class="subtotal">
                                    <span>Subtotal</span>
                                </div>
                                <div class="amount-to-pay">
                                    <span>$xxx,xx</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shipping">
                                    <span>Envío</span>
                                </div>
                                <div class="amount-to-pay">
                                    <span>$xxx,xx</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="total">
                                    <span>Total</span>
                                </div>
                                <div class="amount-to-pay">
                                    <span>$xxx,xx</span>
                                </div>
                            </div>
                            <button type="submit" class="finish-purchease">FINALIZAR COMPRA</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>