<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GnjFarma - Finalizar la compra</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <header>
        <div class="wrapper-container">
            <div class="top-box">
                <div class="burger-menu">
                    <a onclick="burgerMenuClick()">
                        <div class="burger">
                            <i class="fas fa-bars"></i>
                        </div>
                    </a>
                </div>
                <a class='logo' href="/"><img src="/images/logo-gnjfarma.png"></a>
                <div class="search-bar">
                    <input type="text" class="searchTerm" placeholder="Buscar">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <a href="/login">
                    <div class="user">
                        <i class="far fa-user"></i>
                    </div>
                </a>
                <a href="/cart">
                    <div class="my-cart">
                        <i class="fas fa-shopping-cart"></i>
                        <div class="my-order">Mi compra</div>
                    </div>
                </a>
            </div>
            <div class="burger-menu-items" id="burger-menu-items">
                <div class="burger-menu-item">
                    <a href="#">
                        Salud
                        <i class="fas fa-angle-down"></i>
                        <i class="fas fa-angle-up"></i>
                    </a>
                    <ul>
                        <li><a href="">Higiene personal</a></li>
                        <li><a href="">Higiene oral</a></li>
                        <li><a href="">Cuidado del bebé</a></li>
                    </ul>
                </div>
                <div class="burger-menu-item">
                    <a href="#">
                        Belleza
                        <i class="fas fa-angle-down"></i>
                        <i class="fas fa-angle-up"></i>
                    </a>
                    <ul>
                        <li><a href="">Labios</a></li>
                        <li><a href="">Ojos</a></li>
                        <li><a href="">Rostro</a></li>
                    </ul>
                </div>
                <div class="burger-menu-item">
                    <a href="#">
                        Limpieza
                        <i class="fas fa-angle-down"></i>
                        <i class="fas fa-angle-up"></i>
                    </a>
                    <ul>
                        <li><a href="">Limpieza hogar</a></li>
                        <li><a href="">Limpieza ropa</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <nav>
                <ul class='categories'>
                    <li class="category"><a href="#">Salud</a>
                        <i class="fas fa-angle-down"></i>
                        <i class="fas fa-angle-up"></i>
                        <ul>
                            <li><a href="">Higiene personal</a></li>
                            <li><a href="">Higiene oral</a></li>
                            <li><a href="">Cuidado del bebé</a></li>
                        </ul>
                    </li>
                    <li class="category"><a href="#">Belleza</a>
                        <i class="fas fa-angle-down"></i>
                        <i class="fas fa-angle-up"></i>
                        <ul>
                            <li><a href="">Labios</a></li>
                            <li><a href="">Ojos</a></li>
                            <li><a href="">Rostro</a></li>
                        </ul>
                    </li>
                    <li class="category"><a href="#">Limpieza</a>
                        <i class="fas fa-angle-down"></i>
                        <i class="fas fa-angle-up"></i>
                        <ul>
                            <li><a href="">Limpieza hogar</a></li>
                            <li><a href="">Limpieza ropa</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </div>
    </header>
    <main>
        <section>
            <div class="main-container">
                <div class="wrapper-container">
                    <div class="container ">
                        <div class="product">
                            <table class="product-table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Producto</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Subtotal</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td class="td-img"><img src="/images/belleza-labial.png" alt=""></td>
                                    <td>Nombre del producto</td>
                                    <td>$xxx,xx</td>
                                    <td class="quanty">
                                        <div><a href=""><i class="fas fa-minus"></i></a></div>
                                        <div>1</div>
                                        <div><a href=""><i class="fas fa-plus"></i></a></div>
                                    </td>
                                    <td>$xxx,xx</td>
                                    <td><i class="far fa-trash-alt"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-img"><img src="/images/belleza-labial.png" alt=""></td>
                                    <td>Nombre del producto</td>
                                    <td>$xxx,xx</td>
                                    <td class="quanty">
                                        <div><a href=""><i class="fas fa-minus"></i></a></div>
                                        <div>1</div>
                                        <div><a href=""><i class="fas fa-plus"></i></a></div>
                                    </td>
                                    <td>$xxx,xx</td>
                                    <td><i class="far fa-trash-alt"></i></td>
                                </tr>
                                <tr>
                                    <td class="td-img"><img src="/images/belleza-labial.png" alt=""></td>
                                    <td>Nombre del producto</td>
                                    <td>$xxx,xx</td>
                                    <td class="quanty">
                                        <div><a href=""><i class="fas fa-minus"></i></a></div>
                                        <div>1</div>
                                        <div><a href=""><i class="fas fa-plus"></i></a></div>
                                    </td>
                                    <td>$xxx,xx</td>
                                    <td><i class="far fa-trash-alt"></i></td>
                                </tr>
                            </table>
                            <div class="bottom-options">
                                <div class="keepbuying">
                                    <a href="/" class="link-keepbuying">Seguir Comprando</a>
                                </div>
                                <div class="empty-cart">
                                    <a href="#" class="link-empty-cart">Vaciar carro</a>
                                </div>
                            </div>
                        </div>
                        <div class="cart-resume">
                            <h3>Resumen de compra</h3>
                            <form action="" class="promo-bar" method="POST">
                                <div class="promo-code">
                                    <label>
                                    <input type="text" name="coupon-code" placeholder="Agregar cupón de descuento">
                                    </label>
                                </div>
                                <i class="fas fa-tag"></i>
                            </form>
                            <div class="row">
                                <div class="subtotal">
                                    <span>Subtotal</span>
                                </div>
                                <div class="amount-to-pay">
                                    <span>$xxx,xx</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shipping">
                                    <span>Envío</span>
                                </div>
                                <div class="amount-to-pay">
                                    <span>$xxx,xx</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="total">
                                    <span>Total</span>
                                </div>
                                <div class="amount-to-pay">
                                    <span>$xxx,xx</span>
                                </div>
                            </div>
                            <button type="submit" class="finish-purchease">FINALIZAR COMPRA</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="footer">
        <div class="wrapper-container-footer">
            <div class="institucional link-list">
                <h4>Institucional</h4>
                <ul class="institucional-items">
                    <li>¿Quienes somos?</li>
                    <li>Trabaja con nosotros</li>
                    <li>Nuestra empresa</li>
                </ul>
            </div>
            <div class="contact  link-list">
                <h4>Atención al cliente</h4>
                <ul class="contact-items">
                    <li>Contacto</li>
                    <li>Terminos y condiciones</li>
                    <li>Preguntas frecuentes</li>
                </ul>
            </div>
            <div class="online-shopping  link-list">
                <h4>Compra online</h4>
                <ul class="online-shopping-items">
                    <li>Mis pedidos</li>
                    <li>Puntos de retiro</li>
                    <li>Mi carrito</li>
                </ul>
            </div>
            <div class="social-networks">
                <h4>Redes sociales</h4>
                <ul class="social-networks-items">
                    <li><i class="fab fa-facebook"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-youtube"></i></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>