<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidxs GnjFarma</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel= "stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="top-box">
            <a href="/"><img width="360" src="/images/logo-gnjfarma.jpeg"></a>
            <div class="search-bar">

            </div>
            <div class="user">

            </div>
            <div class="my-cart">

            </div>
        </div>
        <div class="categories-box">

        </div>
    </header>
    <div class="slider">
        <span id="slider-salud"></span>
        <span id="slider-belleza"></span>
        <span id="slider-limpieza"></span>
        <div class="image-box">
            <img src="/images/slider-salud.png" alt="slider-salud">
            <img src="/images/slider-belleza.png" alt="slider-belleza">
            <img src="/images/slider-limpieza.png" alt="slider-limpieza">
        </div>
        <div class="button-box">
            <a href="#slider-salud" class="slider-button"></a>
            <a href="#slider-belleza" class="slider-button"></a>
            <a href="#slider-limpieza" class="slider-button"></a>

        </div>
    </div>
</body>