@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

*{
    font-family: "Glory";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-container {
    width: 100%;
}
.container {
    display: block;
}

.product-cart {
    width: 100%;
    padding: 0;
    margin-top: 25px;
}
thead {
    line-height: 2em;
    background-color: #faab05;
}

.product-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
.td-img {
    padding: 5px 5px 5px 0px;
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.td-img img {
    text-align: left;
    width:100%;
}
.quanty {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
}
.fa-minus{
    color: #2e2e2e;
}
.fa-plus {
    color: #2e2e2e;;
}
.fa-trash-alt {
    cursor: pointer;
}

.bottom-options {
    display: flex;
    justify-content: space-between;
}
.keepbuying {
    padding: 10px;
}
.keepbuying a {
    background-color: #e35f21;
    color: #eef8f7;
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
}
.empty-cart {
    padding: 10px;
}
.empty-cart a {
    background-color: #e35f21;
    color: #eef8f7;
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
}

.cart-resume {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.promo-bar {
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    margin: 20px 0px 20px;
    background-color: var(--color-grey);
    width: 70%;
    position: relative;
    left: 50px;
}
.promo-code {
    width: 90%;
}
.promo-code input::placeholder{
    color: var(--color-white-cold) ;
}
.promo-code input {
    border: none;
    height: 3vh;
    width: 100%;
    border-radius: 8px;
    background-color: var(--color-grey);
    text-align: center;
   
}
.fa-tag {
    position: absolute;
    height: 3vh;
    right: 5px;
    top: 5px;
    font-size: 1rem;
    color: var(--color-white-warm);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: 15px 80px 15px;
    border-bottom: 1px solid #2e2e2e;
}

.cart-resume .finish-purchease {
    color: #eef8f7;
    border-radius: 15px;
    background-color: #e35f21;
    border: none;
    width: 45%;
    height: 3vh;
    margin-left: 30px;
    cursor: pointer;
}


.main-container{
    background-color: var(--color-white-cold);
    padding-bottom: 150px;
}    
@media (min-width: 576px) {
    .promo-bar {
        width: 40%;
        left: 170px;
    }
    .cart-resume .finish-purchease {
        width: 25%;
        margin-left: 12px;
    }
    .row {
        width: 40%;
        margin-left: 170px;
    }
}


@media (min-width: 760px){
    
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .product-cart {
        width: 60%;
            
    }
    .cart-resume {
        width: 30%;
    }
    .promo-bar {
        left: 40px;
        width: 80%;
    }
    .row {
        width: 80%;
        margin: 15px 40px 15px;
        align-items: center;
    }
    .cart-resume .finish-purchease {
        width: 55%;
    }
}

@media (min-width: 1100px) {
    .main-container {
        font-size: 18px;
    }
    .td-img {
        padding: 0px;
        width: 100px;
    }
}