.form-login {
  width: 400px;
  background: var(--color-white-cold); 
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  /*box-shadow: 7px 13px 37px #000;*/
  padding: 20px 30px;
  border-top: 4px solid var(--color-black);
  color: var(--color-white-cold);
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
  color: var(--color-grey);
}

.controls {
  width: 100%;
  border: 1px solid var(--color-black);
  margin-bottom: 15px;
  padding: 11px 10px;
  background: var(--color-white-cold);
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.buttons {
  width: 100%;
  height: 40px;
  background: var(--color-black);
  border: none;
  color: white;
  margin-bottom: 16px;
}

.rememberme {
  padding: 50px;
}

.form-login p{
  width: 100%;
  text-align: center;
  color: var(--color-grey) ;
}

.form-login a {
  color: var(--color-black);
  text-decoration: none;
  font-size: 14px;
}

.form-login a:hover {
  text-decoration: underline;
}

.form-login label{
  color: var(--color-black);
}