@media (min-width: 761px) {
    .product{
        width:24%;
    }
    .burger-menu{
        display: none;
    }
    nav{
        display: block;
    }
    .my-order{
        display: block;
    }
    .logo img{
        display:block ; 
    }
    .footer{
        font-size: 16px;
    }
    .wrapper-container-footer{
        display: flex;
    }

    .product{
        margin: 0 0.5%;
    }
    .prevNext a {
        width: 60px;
	    height:60px;
        line-height: 60px;
    }
    .bullets > a {
        width:       30px;
        height:      30px;
        line-height: 30px;
    }
}