@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

*{
    font-family: "Glory";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-product {
    width: 100%;
    margin-bottom: 30px;
}

.product-container {
    display: block;
    width: 100%;
}

.product-container img {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 80%;
    margin: auto;
    display: block;
}

.top-product-info {
    border-top: solid 1px var(--color-black);
}
.top-product-info ul {
    display: flex;
    padding: 10px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.brand-name-price {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.brand {
    width: 20%;
    margin: 0px 15px 0px;
}

.name-product {
    width: 55%;
    margin: 0px 15px 0px;
}

.price {
    width: 30%;
    font-size: 22px;
    padding-left: 20px;
    padding-top: 10px;
}

.buy-button {
    display: flex;
    margin: 20px 20px;
    justify-content: space-between;
}

.quantity {
    background-color: var(--color-grey);
    color: var(--color-white-cold);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    
}

.subtract, .add {
    cursor: pointer;
}

.buy-button a {
  
    text-align: center;
    width: 75%;
    background-color: var(--color-black);
    display: flex;
}

.add-to-cart {
    background-color: var(--color-black);
    position: relative;
    color: var(--color-white-cold);
    align-items: center;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
}

.extra-links a  {
    width: 40%;
}
.extra-links {
    display: flex;
    justify-content: space-around;
}
.payment-methods {
    text-align: center;
    border: solid 1px var(--color-black);
    color: var(--color-black);
    font-size: 14px;
    padding-top: 2px;
}
.shipping-options {
    border: solid 1px var(--color-black);
    color: var(--color-black);
    font-size: 14px;
    text-align: center;
    padding-top: 2px;
}

.bottom-product-info {
    margin-top: 15px;
    width: 100%;
    margin-left: 10px;
}
.bottom-product-info p {
    margin-top: 5px;
}
.bottom-product-info h4 {
    margin-top: 10px;
}
.bottom-product-info i {
    margin-top: 5px;
}
.product-opinion {
    margin-top: 5px;
    color: var(--color-white-cold);
    background-color: var(--color-black);
    width: 40%;
    cursor: pointer;
}
.look-opinions {
    margin-top: 5px;
    color: var(--color-white-cold);
    background-color: var(--color-black);
    width: 40%;
    text-align: center;
 
}

@media (min-width: 576px) {
    .product-container img {
        width: 25%;
        margin: 0;
        margin-top: 70px;
    }
    .product-container {
        display: flex;
        justify-content: space-around;
    }
    .top-product-info {
        border-top: none;
        width: 40%;
        margin-top: 40px;
    }
    .top-product-info ul {
        margin-left: 10px;
        
    }
    .brand-name-price {
        display: block;
        text-align: center;
    }
    .brand-name , .price {
        width: 100%;
    }
    .brand-name {
        display: block;
        font-size: 20px;
    }
    .brand , .name-product {
        width: 100%;
        margin-bottom: 10px;
    }
    .extra-links a {
        width: 45%;
    }
}

@media (min-width: 760px) {
    .extra-links a {
        width: 40%;
    }
}

@media (min-width: 1100px){
    .brand-name {
        margin-bottom: 20px;
    }
    .buy-button {
        padding-top: 30px;
    }
    .extra-links {
        margin-top: 40px;
    }
    .product-opinion , .look-opinions {
        width: 25%;
    }
    .bottom-product-info {
        margin-left: 200px;
    }
    .bottom-product-info p {
        width: 60%;
    }
    .top-product-info ul {
        justify-content: space-around;
    }
}