<tr>
    <td class="td-img">
        <a href="/products/product">
            <img src="/images/belleza-labial.png" alt="">
        </a>
    </td>
    <td>
        <a href="/products/product">
            Nombre del producto
        </a>
    </td>
    <td>$xxx,xx</td>
    <td class="quanty">
        <div><a href="#"><i class="fas fa-minus"></i></a></div>
        <div>1</div>
        <div><a href="#"><i class="fas fa-plus"></i></a></div>
    </td>
    <td>$xxx,xx</td>
    <td><i class="far fa-trash-alt"></i></td>
</tr>