<div class="footer">
    <div class="wrapper-container-footer">
        <div class="institucional link-list">
            <h4>Institucional</h4>
            <ul class="institucional-items">
                <li>¿Quienes somos?</li>
                <li>Trabaja con nosotros</li>
                <li>Nuestra empresa</li>
            </ul>
        </div>
        <div class="contact  link-list">
            <h4>Atención al cliente</h4>
            <ul class="contact-items">
                <li>Contacto</li>
                <li>Terminos y condiciones</li>
                <li>Preguntas frecuentes</li>
            </ul>
        </div>
        <div class="online-shopping  link-list">
            <h4>Compra online</h4>
            <ul class="online-shopping-items">
                <li>Mis pedidos</li>
                <li>Puntos de retiro</li>
                <li>Mi carrito</li>
            </ul>
        </div>
        <div class="social-networks">
            <h4>Redes sociales</h4>
            <ul class="social-networks-items">
                <li><i class="fab fa-facebook"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-youtube"></i></li>
            </ul>
        </div>
    </div>
</div>