<div class="burger-menu-item">
    <a href="#">
        <%= title %>
        <i class="fas fa-angle-down"></i>
        <i class="fas fa-angle-up"></i>
    </a>
    <ul>
        <% for(var i=0; i<items.length; i++) {%>
            <li><a href=""><%= items[i] %></a></li>
         <% } %>
    </ul>
</div>