<header>
    <div class="wrapper-container">
        <div class="top-box">
            <div class="burger-menu">
                <a onclick="burgerMenuClick()">
                    <div class="burger">
                        <i class="fas fa-bars"></i>
                    </div>
                </a>
            </div>
            <a class='logo' href="/"><img src="/images/logo-gnjfarma.png"></a>
            <div class="search-bar">
                <input type="text" class="searchTerm" placeholder="Buscar">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <a href="/users/login">
                <div class="user">
                    <i class="far fa-user"></i>
                </div>
            </a>
            <a href="/products/cart">
                <div class="my-cart">
                    <i class="fas fa-shopping-cart"></i>
                    <div class="my-order">Mi compra</div>
                </div>
            </a>
        </div>
        <div class="burger-menu-items" id="burger-menu-items">
            <div class="burger-menu-item">
                <a href="#">
                    Salud
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-angle-up"></i>
                </a>
                <ul>
                    <li><a href="">Higiene personal</a></li>
                    <li><a href="">Higiene oral</a></li>
                    <li><a href="">Cuidado del bebé</a></li>
                </ul>
            </div>
            <div class="burger-menu-item">
                <a href="#">
                    Belleza
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-angle-up"></i>
                </a>
                <ul>
                    <li><a href="">Labios</a></li>
                    <li><a href="">Ojos</a></li>
                    <li><a href="">Rostro</a></li>
                </ul>
            </div>
            <div class="burger-menu-item">
                <a href="#">
                    Limpieza
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-angle-up"></i>
                </a>
                <ul>
                    <li><a href="">Limpieza hogar</a></li>
                    <li><a href="">Limpieza ropa</a></li>
                </ul>
            </div>
        </div>
        <br>
        <nav>
            <ul class='categories'>
                <li class="category"><a href="#">Salud</a>
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-angle-up"></i>
                    <ul>
                        <li><a href="">Higiene personal</a></li>
                        <li><a href="">Higiene oral</a></li>
                        <li><a href="">Cuidado del bebé</a></li>
                    </ul>
                </li>
                <li class="category"><a href="#">Belleza</a>
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-angle-up"></i>
                    <ul>
                        <li><a href="">Labios</a></li>
                        <li><a href="">Ojos</a></li>
                        <li><a href="">Rostro</a></li>
                    </ul>
                </li>
                <li class="category"><a href="#">Limpieza</a>
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-angle-up"></i>
                    <ul>
                        <li><a href="">Limpieza hogar</a></li>
                        <li><a href="">Limpieza ropa</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</header>