<div class="product">
    <a href="/products/product">
        <img src="/images/belleza-labial.png" alt="imagen producto1">
        <div class="product-detail">
            <div class="product-detail-description">
                Labial Maybelline
            </div>
            <div class="product-detail-price">
                $1.500
            </div>
        </div>
    </a>
    <a href="/products/cart" class="add-to-cart">
        <i class="fas fa-shopping-cart"></i>
        Agregar
    </a>
</div>