<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {'title': 'Login'}) %>

<body>
    <%- include('../partials/header') %>

        <section class="form-login">
            <h5>Ingresa a tu cuenta</h5>
            <input class="controls" type="text" name="mail" value="" placeholder="Mail">
            <input class="controls" type="password" name="clave" value="" placeholder="Contraseña">
            <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label>Recordarme</label>
            <br>
            <br>
            <input class="buttons" type="submit" value="Ingresar" name="ingresar" onclick="lsRememberMe()">
            <p><a href="#">¿Olvidaste tu Contraseña?</a></p>
            <p><a href="/users/register">Crea tu cuenta</a></p>
        </section>

    <%- include('../partials/footer') %> 
</body>