<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
        <section class="form-login">
            <h5>Te pedimos que ingreses tus datos:</h5>
            <input class="controls" type="text" name="name" value="" placeholder="Nombre">
            <input class="controls" type="text" name="lastname" value="" placeholder="Apellido">
            <input class="controls" type="email" name="mail" value="" placeholder="Mail">
            <input class="controls" type="password" name="clave" value="" placeholder="Contraseña">
            <input class="controls" type="password" name="repetir-clave" value="" placeholder="Repetir contraseña">
            <input class="buttons" type="submit" value="Crear Cuenta" name="crear-cuenta">
            <p><a href="/users/login">Registrate</a></p>
        </section>

     <%- include('../partials/footer') %>
</body>